@model IEnumerable<LibraryProject.Models.Order>

<h2>Your Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Return Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Book.Title</td>
                    <td>@order.Book.Quantity</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.ReturnDate.ToShortDateString()</td>
                    <td>@order.OrderStatus</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No orders found.</td>
            </tr>
        }
    </tbody>
</table>
