@model IEnumerable<LibraryProject.Models.Order>

<h2>Your Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Return Date</th>
            <th>Order Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Quantity</td>
                <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@item.ReturnDate.ToString("dd/MM/yyyy")</td>
                <td>@item.OrderStatus</td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create custom order</a>
